<%= form_with(model: sticky_note, class: "sticky-note", html: { style: "background-color: #{sticky_note.color};" }, data: { controller: "note", note_target: "form" }) do |form| %>
  <% if sticky_note.errors.any? %>
    <div style="color: red">
      <ul>
        <% sticky_note.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="d-flex h-100">
    <%= form.text_area :content, class: "sticky-note-form", style: "background-color: #{sticky_note.color};", autofocus: true, data: {
      action: "keydown.enter->note#submitNote", note_target: "textarea"
    } %>
  </div>
  
  <div>
    <%= form.select :color, [['', '#fff9af'], ['', '#264653'], ['', '#2A9D8F'], ['', '#E9C46A'], ['', '#F4A261'], ['', '#E76F51']], {}, data: { action: "change->note#changeSelectColor", note_target: "select" }, style: "background-color: #{sticky_note.color};"  %>
  </div>

  <div>
    <%= form.hidden_field :whiteboard_id, value: whiteboard_id %>
  </div>
<% end %>
