<p style="color: green"><%= notice %></p>

<%= render @sticky_note %>

<div>
  <%= link_to "Edit this sticky note", edit_user_sticky_note_path(current_user, @sticky_note) %> |
  <%= link_to "Back to sticky notes", user_sticky_notes_path(current_user) %>

  <%= button_to "Destroy this sticky note", user_sticky_note_path, method: :delete %>
</div>
