<div class="container mt-4">
  <p class="text-success"><%= notice %></p>

  <div class="card">
    <div class="card-body">
      <%= render @workspace %>
    </div>
  </div>

  <div class="mt-4">
    <%= link_to "Add Whiteboard", new_workspace_whiteboard_path(@workspace), class: 'btn btn-success mt-2' %>
    <%= link_to "Edit this workspace", edit_workspace_path(@workspace), class: 'btn btn-primary' %> |
    <%= link_to "Back to sticky notes", root_path, class: 'btn btn-secondary' %>

    <%= button_to "Destroy this workspace", @workspace, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %>
  </div>
</div>
