<nav class="navbar navbar-expand sticky-top navbar-light bg-light mb-3">
  <div class="container-fluid">
    <%= link_to "Grey-Unicorn", root_path, class: "navbar-brand" %>
    <ul class="navbar-nav justify-content-end">
      <li class="nav-item">
        <%= link_to(root_path, class: "nav-link text-uppercase text-center") do %>
          <i class="fa fa-xl fa-home"></i><br>Home
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to(new_sticky_note_path, class: "nav-link text-uppercase text-center") do %>
          <i class="fa fa-xl fa-file-circle-plus"></i><br>New Note
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to(new_sticky_note_path, class: "nav-link text-uppercase text-center") do %>
          <i class="fa fa-xl fa-cubes"></i><br>Workspaces
        <% end %>
      </li>
      <li>
      <li class="nav-item">
        <%= link_to(new_sticky_note_path, class: "nav-link text-uppercase text-center") do %>
          <i class="fa fa-xl fa-list-check"></i><br>Completed
        <% end %>
      </li>
      <li>
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to(destroy_user_session_path, data: { turbo_method: :delete }, class: "nav-link text-uppercase text-center") do %>
            <i class="fa fa-xl fa-home"></i><br>Logout
          <% end %>
        </li>
        <%= link_to edit_user_registration_path(current_user) do %>
          <span><%= avatar_helper(current_user) %></span>
        <% end %>
      <% else %>
        <%= link_to(new_user_session_path, class: "nav-link text-uppercase text-center") do %>
          <i class="fa fa-xl fa-user"></i><br>Login
        <% end %>
      <% end %>
      </li>
    </ul>
  </div>
</nav>
