<div class="container-fluid" data-controller="drag" data-drag-url-value='/sticky_notes/:id/location' data-drag-attribute-value="sticky_note[position]">
  <div class="card h-100">
    <div class="board-header">
      <i class="fa fa-lg fa-note-sticky"></i>
      <h3 class="board-title"><%= whiteboard.title %></h3>
    </div>
    <div class="card-body" >
        <%= turbo_frame_tag "sticky-notes", class: "row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-3 sticky-note" do %>
          <%= link_to "Completed", workspace_whiteboard_completed_path(whiteboard_id: whiteboard.id, workspace_id: whiteboard.workspace.id) %>
          <%= render whiteboard.sticky_notes.active %>
          <%= render partial: "sticky_notes/sticky_note_placeholder", locals: { whiteboard_id: whiteboard.id } %>
        <% end %>
    </div>
  </div>
</div>
